[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        county_index = 1..20

[scheduling]
    [[dependencies]]
        graph = """
            clone_repo => get_counties
            get_counties => process<county> 
            process<county> => plot"""

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = lsf
            execution time limit = PT5M
        [[[directives]]]
            -q=short-serial
            -n=1
    [[clone_repo]]
        script = """git clone https://github.com/cedadev/jasmin-workshop workshop-repo
cp workshop-repo/exercises/ex04/code/* $ROSE_DATA/
rm -fr workshop-repo"""
    [[get_counties]]
        script = """module load jaspy
python create-counties-file.py"""
    [[process<county>]]
        script = """module load jaspy
python extract-annual-max-series.py ${CYLC_TASK_PARAM_<county>}"""
    [[plot]]
        script = """module load jaspy
python plot-county-temps.py"""
