[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        counter = 1..20

[scheduling]
    [[dependencies]]
        graph = """
            initialise => step1
            step1 => batch<counter>
            batch<counter> => finish"""

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = lsf
            execution time limit = PT5M
        [[[directives]]]
            -q=short-serial
            -n=1
    [[initialise]]
        script = """echo 'do something'"""
    [[step1]]
        script = """echo 'set something'
echo 'cd somewhere/'
echo 'run something'"""
    [[batch<counter>]]
        script = """echo 'do something'
echo 'run something with counter variable: ${CYLC_TASK_PARAM_counter}'"""
    [[finish]]
        script = """echo 'to sum up'
echo 'Do final thing'"""
